<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969851857507-g0d41gpbk1ann2ffpu5r720epcubil9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969851857507-g0d41gpbk1ann2ffpu5r720epcubil9k</string>
	<key>API_KEY</key>
	<string>AIzaSyDCHssK9tR0eEh6h5bGiiVCP90QsRbf6N8</string>
	<key>GCM_SENDER_ID</key>
	<string>969851857507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikitin.flatnotes</string>
	<key>PROJECT_ID</key>
	<string>flatnotes</string>
	<key>STORAGE_BUCKET</key>
	<string>flatnotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969851857507:ios:db155e91369264d6daa656</string>
</dict>
</plist>